<%- include('includes/head.ejs')%>
<head>
    <body id="page-top">
    <%- include('includes/nav.ejs')%>
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-1">
                    <h2 class="masthead-subheading mb-0">คณาอาจารย์</h2>
                </div>
            </div>
        </header>

        <section id="scroll">
            <div class="">
                <h1 class="masthead-subheading mb-0 mt-5 ms-5 text-center">คณาอาจารย์ที่สอนในหลักสูตรวิทยาการคอมพิวเตอร์</h1>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-around">
                            <div class=" pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                <h6 class="mt-1 mb-2 pb-1">D1403</h6>
                                <h6 class="mt-1 mb-2 pb-1">👨‍🏫อ.ปรีชา งามเสาวรส</h6>
                                <h6 class="mt-1 mb-2 pb-1">Preecha Ngamsaowaros</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน SC45-773</h6>
                                <h6 class="mt-1 mb-2 pb-1">fscipcn AT nontri.ku.ac.th</h6>
                            </div> 
        
                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                <h6 class="mt-1 mb-2 pb-1">D1404</h6>
                                <h6 class="mt-1 mb-2 pb-1">อ.สมโชค เรืองอิทธินันท์</h6>
                                <h6 class="mt-1 mb-2 pb-1">Somchoke Rueng-ittinun</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน SC45-774</h6>
                                <h6 class="mt-1 mb-2 pb-1">fsciscr AT nontri.ku.ac.th</h6>
                            </div>
        
                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                <h6 class="mt-1 mb-2 pb-1">D1407</h6>
                                <h6 class="mt-1 mb-2 pb-1">ผศ.อุมาพร ศิรธรานนท์</h6>
                                <h6 class="mt-1 mb-2 pb-1">Umaporn Sirathranont</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน SC45-778</h6>
                                <h6 class="mt-1 mb-2 pb-1">fscipam AT nontri.ku.ac.th</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-around">
                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                <h6 class="mt-1 mb-2 pb-1">D1408</h6>
                                <h6 class="mt-1 mb-2 pb-1">ผศ.กัลยาณี บรรจงจิตร</h6>
                                <h6 class="mt-1 mb-2 pb-1">Kanlayanee Banjongjit</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน SC45-780</h6>
                                <h6 class="mt-1 mb-2 pb-1">fscikyb AT nontri.ku.ac.th</h6>
                            </div> 

                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                <h6 class="mt-1 mb-2 pb-1">D1409</h6>
                                <h6 class="mt-1 mb-2 pb-1">ผศ.ศิริกร จันทร์นวล</h6>
                                <h6 class="mt-1 mb-2 pb-1">Sirikorn Channual</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน SC45-873</h6>
                                <h6 class="mt-1 mb-2 pb-1">fsciskp AT nontri.ku.ac.th</h6>
                            </div> 

                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                <h6 class="mt-1 mb-2 pb-1">D1410</h6>
                                <h6 class="mt-1 mb-2 pb-1">รศ.ดร.นวลวรรณ สุนทรภิษัช</h6>
                                <h6 class="mt-1 mb-2 pb-1">Nuanwan Soonthornphisaj</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน SC45-775</h6>
                                <h6 class="mt-1 mb-2 pb-1">fscinws AT ku.ac.th</h6>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-around">
                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                <h6 class="mt-1 mb-2 pb-1">D1411</h6>
                                <h6 class="mt-1 mb-2 pb-1">ผศ.ดร.ชวลิต ศรีสถาพรพัฒน์</h6>
                                <h6 class="mt-1 mb-2 pb-1">Chavalit Srisathapornphat</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน SC45-876</h6>
                                <h6 class="mt-1 mb-2 pb-1">fscicls AT nontri.ku.ac.th</h6>
                            </div> 

                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                <h6 class="mt-1 mb-2 pb-1">D1412</h6>
                                <h6 class="mt-1 mb-2 pb-1">อ.สุนทรี คุ้มไพโรจน์</h6>
                                <h6 class="mt-1 mb-2 pb-1">Soontharee Koompairojn</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน SC45-779</h6>
                                <h6 class="mt-1 mb-2 pb-1">fscisok AT nontri.ku.ac.th</h6>
                            </div> 

                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                <h6 class="mt-1 mb-2 pb-1">D1414</h6>
                                <h6 class="mt-1 mb-2 pb-1">ผศ.พบสิทธิ์ กมลเวชช</h6>
                                <h6 class="mt-1 mb-2 pb-1">Pobsit Kamolvej</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน SC45-878</h6>
                                <h6 class="mt-1 mb-2 pb-1">fscipok AT nontri.ku.ac.th</h6>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-around">
                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                <h6 class="mt-1 mb-2 pb-1">D1415</h6>
                                <h6 class="mt-1 mb-2 pb-1">ผศ.ดร.ผกาเกษ วัตุยา</h6>
                                <h6 class="mt-1 mb-2 pb-1">Pakaket Wattuya</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน SC45-879</h6>
                                <h6 class="mt-1 mb-2 pb-1">fscipkw AT ku.ac.th</h6>
                            </div> 

                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                <h6 class="mt-1 mb-2 pb-1">รหัสอาจารย์</h6>
                                <h6 class="mt-1 mb-2 pb-1">ชื่ออาจารย์</h6>
                                <h6 class="mt-1 mb-2 pb-1">ชื่ออาจารย์(อังกฤษ)</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน</h6>
                                <h6 class="mt-1 mb-2 pb-1">อีเมล</h6>
                            </div> 

                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                <h6 class="mt-1 mb-2 pb-1">D1416</h6>
                                <h6 class="mt-1 mb-2 pb-1">ผศ.ดร.สุขุมาล กิติสิน</h6>
                                <h6 class="mt-1 mb-2 pb-1">Sukumal Kitisin</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน SC45-877</h6>
                                <h6 class="mt-1 mb-2 pb-1">fscismi AT ku.ac.th</h6>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-around">
                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                <h6 class="mt-1 mb-2 pb-1">D1417</h6>
                                <h6 class="mt-1 mb-2 pb-1">รศ.ดร.วรเศรษฐ สุวรรณิก</h6>
                                <h6 class="mt-1 mb-2 pb-1">Worasait Suwannik</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน SC45-781</h6>
                                <h6 class="mt-1 mb-2 pb-1">worasait.suwannik AT gmail.com</h6>
                                <h6 class="mt-1 mb-2 pb-1">pirun.ku.ac.th/~fsciwss</h6>
                            </div> 

                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                <h6 class="mt-1 mb-2 pb-1">D1418</h6>
                                <h6 class="mt-1 mb-2 pb-1">ผศ.ดร.ชาคริต วัชโรภาส</h6>
                                <h6 class="mt-1 mb-2 pb-1">Chakrit Watcharopas</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน SC45-874</h6>
                                <h6 class="mt-1 mb-2 pb-1">chakrit.w AT ku.ac.th</h6>
                                <h6 class="mt-1 mb-2 pb-1">sites.google.com/ku.th/ckw</h6>
                            </div> 

                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                <h6 class="mt-1 mb-2 pb-1">D1419</h6>
                                <h6 class="mt-1 mb-2 pb-1">ดร.เสฎฐวิทย์ เกิดผล</h6>
                                <h6 class="mt-1 mb-2 pb-1">Sethavidh Gertphol</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน SC45-871</h6>
                                <h6 class="mt-1 mb-2 pb-1">sethavidh.G AT ku.ac.th</h6>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-around">
                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                <h6 class="mt-1 mb-2 pb-1">D1421</h6>
                                <h6 class="mt-1 mb-2 pb-1">ผศ.ดร.อุษา สัมมาพันธ์</h6>
                                <h6 class="mt-1 mb-2 pb-1">Usa Sammapun</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน SC45-872</h6>
                                <h6 class="mt-1 mb-2 pb-1">fsciusa AT ku.ac.th</h6>
                                <h6 class="mt-1 mb-2 pb-1">access.cs.sci.ku.ac.th/~usa</h6>
                            </div> 

                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                <h6 class="mt-1 mb-2 pb-1">D1424</h6>
                                <h6 class="mt-1 mb-2 pb-1">รศ.ดร.เทพฤทธิ์ บัณฑิตวัฒนาวงศ์</h6>
                                <h6 class="mt-1 mb-2 pb-1">Thepparit Banditwattanawong</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน SC45-776</h6>
                                <h6 class="mt-1 mb-2 pb-1">fscitrb AT ku.ac.th</h6>
                                <h6 class="mt-1 mb-2 pb-1">thepparitb.wixsite.com/academiccv</h6>
                            </div> 

                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                <h6 class="mt-1 mb-2 pb-1">D1425</h6>
                                <h6 class="mt-1 mb-2 pb-1">ผศ.ดร.นพดล จันทร์เอี่ยม</h6>
                                <h6 class="mt-1 mb-2 pb-1">Nopadon Juneam</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน SC45-772</h6>
                                <h6 class="mt-1 mb-2 pb-1">nopadon.j AT ku.ac.th</h6>
                                <h6 class="mt-1 mb-2 pb-1">sites.google.com/site/njuneam</h6>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-around">
                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                <h6 class="mt-1 mb-2 pb-1">D1426</h6>
                                <h6 class="mt-1 mb-2 pb-1">ผศ.ดร.ธรรมกร แซ่ตั้ง</h6>
                                <h6 class="mt-1 mb-2 pb-1">Thammakorn Saethang</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน SC45-880</h6>
                                <h6 class="mt-1 mb-2 pb-1">thammakorn.s AT ku.th</h6>
                            </div> 

                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                
                                <h6 class="mt-1 mb-2 pb-1">ผศ.ดร.อรวรรณ อิ่มสมบัติ</h6>
                                <h6 class="mt-1 mb-2 pb-1">Aurawan Imsombut</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน SC45-782</h6>
                                <h6 class="mt-1 mb-2 pb-1">aurawan.i@ku.th</h6>
                            </div> 

                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                
                                <h6 class="mt-1 mb-2 pb-1">ดร.พิศุทธิ์ วิเศษสิงห์</h6>
                                <h6 class="mt-1 mb-2 pb-1">Pisut Wisessing</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน SC45-771</h6>
                                <h6 class="mt-1 mb-2 pb-1">pisut.wi@ku.th</h6>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-around">
                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                
                                <h6 class="mt-1 mb-2 pb-1">อ.ศรชัย ลักษณะปีติ</h6>
                                <h6 class="mt-1 mb-2 pb-1">Sornchai Laksanapeeti</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน SC45-722</h6>
                                <h6 class="mt-1 mb-2 pb-1">sornchai.la AT ku.th</h6>
                            </div> 

                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                
                                <h6 class="mt-1 mb-2 pb-1">อ.สุทธิพงษ์ หมื่นตาบุตร</h6>
                                <h6 class="mt-1 mb-2 pb-1">Suttipong Meuntaboot</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน SC45-722</h6>
                                <h6 class="mt-1 mb-2 pb-1">suttipong.me@ku.th</h6>
                            </div> 

                            <div class="text-center pt-5">
                                <img src="https://cs.sci.ku.ac.th/wp-content/uploads/2019/01/BOY_9700.jpeg"
                                    style="width: 250px;" alt="logo">
                                <h6 class="mt-1 mb-2 pb-1">รหัสอาจารย์</h6>
                                <h6 class="mt-1 mb-2 pb-1">ชื่ออาจารย์</h6>
                                <h6 class="mt-1 mb-2 pb-1">ชื่ออาจารย์(อังกฤษ)</h6>
                                <h6 class="mt-1 mb-2 pb-1">ห้องทำงาน</h6>
                                <h6 class="mt-1 mb-2 pb-1">อีเมล</h6>
                            </div> 
                        </div>
                    </div>
                </div> 
            </div> 
        </section>
    </body>
